[submodule "binder/models"]
	path = binder/models
	url = https://github.com/tensorflow/models.git
[submodule "robot_ws/src/phoenix1_perception"]
	path = robot_ws/src/phoenix1_perception
	url = git@bitbucket.org:ais_admin/phoenix1_perception.git
[submodule "binder/phoenix1-fleet-management"]
	path = binder/phoenix1-fleet-management
	url = git@bitbucket.org:ais_admin/phoenix1-fleet-management.git
    branch = main
[submodule "binder/ais-makefile"]
	path = binder/ais-makefile
	url = git@bitbucket.org:ais_admin/ais-makefile.git
[submodule "robot_ws/src/perception_diagnostics"]
	path = robot_ws/src/perception_diagnostics
	url = git@bitbucket.org:ais_admin/perception_diagnostics.git
